<footer>
	<section class="row small-up-2 medium-up-3 large-up-4">
		<div class="column column-block" id="about">
			<img class="" src="https://scontent.cdninstagram.com/t51.2885-19/s320x320/12751165_192935791067901_1329054800_a.jpg" style="background-color: #fafafa; border: 1px solid #dbdbdb;border-radius: 50%;width:80px;margin-bottom:20px;padding:5px;opacity: .7;">
			<header class="">
				About
			</header>
			<p>
				<em>Summit</em> is Hawaii's global magazine of ideas, style and smart living.  We're named for Queen Kapiolani's motto, "kulia i ka nuu," <em>strive for the summit</em>. <em>Summit</em> is available on fine newsstands throughout North America and the Asia-Pacific region.
			</p>
		</div>
		<div class="column column-block" id="contact">
			<header>Contact</header>
			<address>
				<strong>Archipelago Inc.</strong>
				<br>PO Box 11934
				<br>Honolulu, Hawaii 96828
						<!--
	<br><abbr title="Phone">P:</abbr>
						(808) 664-9610
	-->
			</address>
			<header>Inquiries</header>
			<ul id="inquiries">
				<li><a class="" href="mailto:sales@summitzine.com">Advertising</a></li>
				<li><a class="" href="mailto:distribution@summitzine.com">Distribution</a></li>
				<li><a class="" href="mailto:shop@summitzine.com">Summit Shop</a></li>
				<li><a class="" href="mailto:editorial@summitzine.com">Editorial</a></li>
				<li><a class="" href="https://www.dropbox.com/s/lb0dl0y1tky397b/Summit%20Media%20Kit%202016.pdf?dl=0">Media Kit</a>
			</ul>
		</div>
		<div class="column column-block" id="personnel">
			<header class="">
				Contents
			</header>
			<dl id="contents" class="vertical menu">
				<dt><a class="anuenue" href="/departments/anuenue">Anuenue</a></dt>
				<dd>Lifestyle & Culture</dd>
				<dt><a class="originals" href="/departments/originals">Originals</a></dt>
				<dd>Creativity & Arts</dd>
				<dt><a class="industry" href="/departments/industry">Industry</a></dt>
				<dd>Business & Economics</dd>
				<dt><a class="commons" href="/departments/commons">Commons</a></dt>
				<dd>Briefings & Reports</dd> 
				<dt><a class="letters" href="/departments/letters">Letters</a></dt>
				<dd>Poetry & Prose</dd> 
				<dt><a href="/shop">The Summit Shop</a></dt>
				<dd>Goods & Experiences</dd> 
			</dl>
		</div>
		<div class="column column-block" id="personnel">
			<header class="">
				Personnel
			</header>
			<dl>
				<dt>Editor/Publisher</dt>
				<dd>Ikaika Hussey</dd>
				<dt>Creative Director</dt>
				<dd>Mae Ariola</dd>
				<dt>Editor</dt>
				<dd>Will Caron</dd> 
				<dt>Associate Publisher</dt>
				<dd>Michelle Garcia</dd>
				<dt>Copy Editor</dt>
				<dd>Karen Shishido</dd>
				<dt>Assistant Editor</dt>
				<dd>James Charisma</dd>
			</dl>
		</div>
	</section>
	<section class="row" id="copyright">

			<ul class="menu" id="">
				<li class="">
					<a href="http://archipelago.link">Copyright 2017 Archipelago Inc.</a>
				</li>
				<li class="">
					<a href="http://instagram.com/summitzine">
						<i class="icon instagram"></i>
					</a>
				</li>
				<li class="">
					<a href="http://facebook.com/summitzine">
						<i class="icon facebook"></i>
					</a>
				</li>
				<li class="">
					<a href="http://twitter.com/summitzine">
						<i class="icon twitter"></i>
					</a>
				</li>
			</ul>

	</section>
</footer>
