			<div id="sidebar">
			    <div class="box center" id="masthead">
				    <h3>About</h3>
			    	<img alt="Summit Logo" id="crown" src="/static/images/branding/crownroyal_web.png">
			    	<p class="" id="about">
				    	Summit is Hawaii's global quarterly with the modern island perspective on politics, industry, arts, culture and style.
			    	</p>
			    </div>
		    	<div class="box center list-group" id="platforms">
			    	<h3>Platforms</h3>
			    	<a class="list-group-item" href="/">
				    	Blog
				    </a>
			    	<a class="list-group-item" href="/magazine">
				    	Magazine
				    </a>
			    	<a class="list-group-item" href="http://instagram.com/summitzine">
				    	<i class="circular icon instagram"></i>
				    </a>
			    	<a class="list-group-item" href="http://facebook.com/summitzine">
				    	<i class="circular icon facebook"></i>
				    </a>
			    	<a class="list-group-item" href="http://twitter.com/summitzine">
				    	<i class="circular icon twitter"></i>
				    </a>
		    	</div>
			</div>