{% extends "templates/partials/base.html" %}
{% block content %}
<div id="content">
	<div class="container-fluid">
		<div class="row" id="below_the_fold">

		<div class="page-header">
		<h1>Advertising</h1>
		</div>
		
		<div class="panel panel-default" id="about">
			<div class="panel-heading">
				<h3 class="panel-title">
					About
				</h3>
			</div>
			<div class="panel-body">
			<p>
				<strong>Summit is the Honolulu-based global quarterly covering politics, business, design, arts, lifestyle, and literature.</strong>
			</p>
			<p>Hawaii has a long history of excellence. From its remarkable emergence in the 1830s as the most literate country on the planet, to the electrification of Iolani Palace in 1886 – before the White House – Hawaii has exceeded world expectations of a small Pacific archipelago.</p>
<p>Summit examines the ways in which this spirit of excellence is re-emerging in 21st century Hawaii. In technology, design, cuisine, business, politics, and education, seasoned and emerging leaders are aspiring to remake Hawaii as an island state with global aspirations.</p>
			</div>
		</div>
		
		<div class="panel panel-default" id="personnel">
			<div class="panel-heading">
				<h3 class="panel-title">
					Personnel
				</h3>
			</div>
			<div class="panel-body">
				<p>
					<strong>Publisher & Editor-in-Chief</strong>
					<a href="mailto:ikaika@summitzine.com">Ikaika M. Hussey</a>
				</p>
				<p>
					<strong>Associate Publisher</strong>
					<a href="mailto:mgarcia@summitzine.com">Michelle Garcia</a>
				</p>
				<p>
					<strong>Art Director</strong>
					<a href="mailto:mae@summitzine.com">Mae Ariola</a>
				</p>
				<p>
					<strong>Managing Editor</strong>
					<a href="mailto:will@summitzine.com">Will Caron</a>
				</p>
			</div>
		</div>
		
		<div class="panel panel-default" id="personnel">
			<div class="panel-heading">
				<h3 class="panel-title">
					Audience
				</h3>
			</div>
			<div class="panel-body">
				<p>
				Aspirational, affluent, educated. 30-55 years 55% female, 45% male.
				</p>
			</div>
		</div>
		
		<div class="panel panel-default" id="personnel">
			<div class="panel-heading">
				<h3 class="panel-title">
					Pages
				</h3>
			</div>
			<div class="panel-body">
				<p>
				164
				</p>
			</div>
		</div>		

		<div class="panel panel-default" id="personnel">
			<div class="panel-heading">
				<h3 class="panel-title">
					Frequency
				</h3>
			</div>
			<div class="panel-body">
				<p>
				Quarterly
				</p>
			</div>
		</div>	

		<div class="panel panel-default" id="personnel">
			<div class="panel-heading">
				<h3 class="panel-title">
					Cover Price
				</h3>
			</div>
			<div class="panel-body">
				<p>
				$10 US
				</p>
			</div>
		</div>	
		
		<div class="panel panel-default" id="personnel">
			<div class="panel-heading">
				<h3 class="panel-title">
					<a href="/distribution">Distribution</a>
				</h3>
			</div>
		</div>		
		

		
		<div class="panel panel-default" id="inquiries">
			<div class="panel-heading">
				<h3 class="panel-title">Partnership Inquiries</h3>
			</div>
			<div class="panel-body">
				<a href="mailto:sales@summitzine.com">Email</a>
			</div>
		</div>
	</div>
	</div>
</div>
{% endblock %}

