{% extends "templates/partials/base.html" %}

{% block content %}

	<div class="container-fluid">

		<h1>About Summit Magazine</h1>

		<p>
			160 uncoated matte pages. Designed by Mae Ariola, editorial direction by Ikaika Hussey and Will Caron. 
		</p>

		<p>
			
			The inaugural issue of Summit is available for purchase and distribution via our partners listed below.
			
		</p>
		
		<h2>Where to find Summit</h2>

			<h3>Purchase</h3>
				<ul>
					<li>
						<a href="/shop">The Summit Online Shop</a>
					</li>
					<li>Whole Foods Market Kahala Mall
					</li>
					<li>Whole Foods Market Kailua</li>
					<li>Whole Foods Market Kahului</li>
					<li>Morning Glass Coffee & Café</li>
					<li>Fishcake</li>
				</ul>
			<h3>Read</h3>

	</div>

{% endblock %}

