{% extends "templates/partials/base.html" %}

{% block content %}
<div id="content">
	<section class="container-fluid" id="below_the_fold">

		<div class="page-header">
		  <h1>Education Summit</h1>
		  <small>School shopping? Sign up to be notified when the 2016 guide to Hawaii schools is out.</small>
		</div>
		  
		

<div class="">

<form action="http://archipelagoinc.createsend.com/t/i/s/oqdhk/" method="post" id="subForm">
    <p>
        <!-- <label for="fieldName">Name</label><br /> -->
        <input placeholder="Name" id="fieldName" class="form-control" name="cm-name" type="text" />
    </p>
    <p>
        <!-- <label for="fieldEmail">Email</label><br /> -->
        <input placeholder="Email" id="fieldEmail" class="form-control" name="cm-oqdhk-oqdhk" type="email" required />
    </p>
    <p>
<!--         <button type="submit">Subscribe</button> -->
        
         <span class="input-group-btn">
        <button class="btn btn-default" type="type">Sign up</button>
      </span>
        
    </p>
</form>

</div>



		 <div class="alert alert-info alert-dismissible" role="alert">
		  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		  
		  Would you like to add your school to this guide? Click <a href="mailto:sales@summitzine.com">here</a>.
		 </div>

	

	

{% endblock %}